.card-card{
    border-radius: 8px;
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 20px;
    text-align: left;
    border-radius: 8px;
}

.loading {
    position: sticky;
    top: 0;
  }

  /* Navbar Section */
.leaderboards-navbar {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
  }
  
  .leaderboards-navbar h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  /* Leaderboard Header */
  .leaderboards-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
    margin-top: 20px;
  }
  
  .leaderboards-header div h3 {
    margin: 0;
    font-size: 1rem;
    color: #333;
  }
  
  /* Leaderboard List */
  .leaderboards-list {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  /* Leaderboards Item */
  .leaderboards-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .leaderboards-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Avatar */
  .leaderboards-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .leaderboards-avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* User Name */
  .leaderboards-user-name h3 {
    margin: 0;
    font-size: 1.1rem;
    color: #333;
  }
  
  /* User Score */
  .leaderboards-score h3 {
    margin: 0;
    font-size: 1.1rem;
    color: #28a745;
  }
  

